.btn-success{
  background-color: #28a745;
}
body{
  padding-bottom: 500px;
  box-sizing: border-box;
  overflow-x: hidden;
}
/* Navbar */
.navbar{
  z-index: 5;
  top: 0;
  /* position: fixed;
  width: 100%;
  background-color: white; */
}
.navbar-brand{
  font-size: 20px;
  /* font-family: 'Fugaz One', cursive; */
}
.navbar-brand img{
  max-width: 120px;
  margin-top: -10px;
}

/* menu toggle */
.navbar-toggler{
  border: none;
}
.menu-toggle{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 20px;
  position: relative;
  z-index: 1;
}
.menu-toggle input{
  position: absolute;
  width: 40px;
  height: 28px;
  left: -6px;
  top: -5px;
  cursor: pointer;
  z-index: 2;
  opacity: 0;
}
.menu-toggle span{
  display: block;
  width: 22px;
  height: 3px;
  border-radius: 5px;
  background-color: rgb(77, 77, 77);
  transition: all 0.5s;
}
.menu-toggle span.sticky-menu-toggle{
  background-color: white !important;
}
/* Animasi humbergur button*/
.menu-toggle span:nth-child(2){
  /* Untuk merubah poros ketika elemen diputar */
  transform-origin: 0 0;
}
.menu-toggle span:nth-child(4){
  transform-origin: 0 100%;
}

/* CSS sibiling ketika input di cek cari saudara nya di span */
.menu-toggle input:checked ~ span:nth-child(2){
  transform: rotate(45deg) translate(-1px, -1px);
}
.menu-toggle input:checked ~ span:nth-child(4){
  transform: rotate(-45deg) translate(-1px,0);
}
.menu-toggle input:checked ~ span:nth-child(3){
  transform: translateX(-1000%);
  opacity: 0;
}

/* Jumbotron */
.jumbotron{
  background-image: url(../img/bg-min.jpg);
  background-size: cover;
  text-align: center;
  position: relative;
  height: 530px;
  margin-top: 55px;
}
.jumbotron .container{
  z-index: 2;
  position: relative;
}
.jumbotron::after{
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(0,0,0,9),rgba(0,0,0,0));
  position: absolute;
  bottom: 0;   
}
.jumbotron .display-4{
  color: white;
  margin-top: 80px;
  font-weight: 200;
  text-shadow:1px 1px 3px rgba(0, 0, 0, 0.7);
  font-size: 40px;
}
.jumbotron .display-4 span{
  font-weight: 500; 
}
.jumbotron .btn-gabung{
  background-color: #5000CA;
}
.caps{
  font-size: 16px;
}
/* Info */
.info{
  padding: 2rem 2rem 1rem;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  background-color: white;
  margin-top: -100px;
  position: relative;
  z-index: 3;
}
.info img{
  max-width: 100px;
  margin-bottom: 10px;
  filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.8));
}
.info h4{
  font-size: 15px;
}
.info p{
  font-size: 12px;
}
.info .col-lg{
  margin-bottom: 20px;
}


/* About */
#about{
  background: url(../img/bg-1.webp);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 5rem;
}
#about p{
  font-size: 17px;
  text-align: center;
}
#about p span{
  font-weight: 500;
}
#about img .waves{
  margin-bottom: -50px;
} 

/* Members */
#members{
  margin-top: -5px;
  padding: 4rem 0 2rem;
  /* background-color: #5000CA; */
  background-color: #000B76;
}
#members .card img{
  max-width: 100px;
  filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.8));
}

.logo{
  max-width: 180px;
}

#whyme{
  background-image: url(../img/bg-team-left.webp),url(../img/bg-team-right.webp);
  background-size: contain;
  background-position: left top,right bottom;
  background-repeat: no-repeat;
}
.img-payment{
  display: none;
}

/* Halaman register */
#mitra .container-fluid{
  background-color: #d4e2fc;
  padding: 4rem 0 2rem;
}
#mitra p{
  font-size: 18px;
}
#mitra img{
  max-width: 80%;
  margin: 10px;
}
#mitra h1::after{
  content: "";
  height: 2px;
  display: block;
  margin: 20px auto;
  width: 20%;
  background-color: rgb(97, 97, 97);
}

/* Footer */
/* .img-footer{
  margin-top: -150px;
} */

/* Halaman Register */
.register{
  margin-top: 0;
}
.img-register{
  max-width: 100px;
}

.img-waves-register-1{
  margin-top: 0;
}


/* Halaman Login */
.copyright{
  display: none;
  font-size: 12px;
}
.copyright-footer{
  display: block;
  font-size: 12px;
}
/* Versi Dektstop */
@media (min-width:920px){
  .navbar-brand{
    transition: all 0.2s;
  }
  .navbar-brand:hover{
    transform: scale(1.1);
  }
  .nav-link{
      text-transform: uppercase;
      margin-right: 20px;
      font-size: 13px;
  }
  .nav-link:hover{
      cursor: pointer;
      font-weight: 200;
  }
  .nav-link:hover::after{
      content: "";
      display: block;
      border-bottom: 2px solid #24005a;
      width: 50%;
      margin: auto;
      padding-bottom: 3px;
      margin-bottom: -5px;
  }
  /* Info */
  .info{
    margin-top: -80px;
  }
  .info img{
    margin-bottom: 0;
  }
  .info .col-lg{
    margin-bottom: 0;
  }

  .jumbotron{
      padding-top: 1rem;
  }
  .jumbotron .display-4{
      font-size: 60px;
      box-sizing: border-box;
  }
  .jumbotron a{
    margin-bottom: 0px;
  }

  #about p{
    font-size: 20px;
    text-align: left;
  }
  #members{
    margin-top: -30px;
  }

  .img-payment{
    filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.5));
    display: block;
  }
  /* MITRA */
  #mitra p{
    font-size: 20px;
  }
  #mitra img{
    max-width: 400px;
  }
  #mitra h1::after{
    width: 5%;
  }

  /* Halaman Login */
  .copyright{
    display: block;
  }
  .copyright-footer{
    display: none;
  }
}
